Introduction to SQL:

SQL (Structured Query Language) is the primary tool used to interact with relational databases. It allows you to manage, manipulate, and query data within databases. With SQL, you can:

Design and alter database structures (tables, indexes, views, etc.).

Add, modify, or delete data in tables.

Retrieve specific sets of data based on conditions.

Manage user access and permissions for security.

Key SQL Commands Explained

Below are the basic SQL commands that are commonly used in database operations. Let's work through them with practical examples.

In [ ]:
import sqlite3
import pandas as pd

# Establish connection to an in-memory SQLite database
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

print("Connected to an in-memory SQLite database.")

# 1. CREATE TABLE - Building a Table Structure
# This command creates a new table with specific columns and constraints.
create_table_command = """
CREATE TABLE Students (
    student_id INTEGER PRIMARY KEY,
    student_name TEXT NOT NULL,
    student_age INTEGER,
    student_grade REAL
);
"""
cursor.execute(create_table_command)
connection.commit()

print("Table 'Students' successfully created.")

# 2. INSERT INTO - Adding Data to the Table
# The INSERT INTO statement is used to add new records to a table.
insert_data_command = """
INSERT INTO Students (student_id, student_name, student_age, student_grade) VALUES
(1, 'Alice', 10, 5.0),
(2, 'Bob', 11, 4.5),
(3, 'Charlie', 10, 4.8),
(4, 'David', 12, 5.0);
"""
cursor.execute(insert_data_command)
connection.commit()

print("Data successfully inserted into the 'Students' table.")

# 3. SELECT - Retrieving Data from the Table
# The SELECT statement retrieves data from the database based on the given query conditions.
select_all_students_command = "SELECT * FROM Students;"
cursor.execute(select_all_students_command)

# Fetching all results and displaying them in a DataFrame
results = cursor.fetchall()
columns = [description[0] for description in cursor.description]

df_all_students = pd.DataFrame(results, columns=columns)
print("All student records:")
display(df_all_students)

# Filtering the results based on a condition
select_filtered_students_command = "SELECT student_name, student_grade FROM Students WHERE student_age > 10 ORDER BY student_grade DESC;"
cursor.execute(select_filtered_students_command)

filtered_results = cursor.fetchall()
filtered_columns = [description[0] for description in cursor.description]

df_filtered_students = pd.DataFrame(filtered_results, columns=filtered_columns)
print("\nStudents older than 10, ordered by their grade:")
display(df_filtered_students)

# 4. UPDATE - Modifying Existing Data
# The UPDATE statement is used to change the value of existing records in a table.
update_grade_command = "UPDATE Students SET student_grade = 4.7 WHERE student_name = 'Bob';"
cursor.execute(update_grade_command)
connection.commit()

print("Bob's grade updated.")

# Checking if the update was successful
cursor.execute("SELECT * FROM Students WHERE student_name = 'Bob';")
updated_bob_record = cursor.fetchone()

# Display the updated record
df_updated_bob = pd.DataFrame([updated_bob_record], columns=columns)
print("Updated record for Bob:")
display(df_updated_bob)

# 5. DELETE FROM - Removing Data
# The DELETE FROM statement removes records from a table based on a condition.
delete_student_command = "DELETE FROM Students WHERE student_name = 'Charlie';"
cursor.execute(delete_student_command)
connection.commit()

print("Charlie's record removed.")

# Verifying the deletion by selecting all remaining students
cursor.execute("SELECT * FROM Students;")
remaining_students = cursor.fetchall()

df_remaining_students = pd.DataFrame(remaining_students, columns=columns)
print("Remaining student records:")
display(df_remaining_students)

# Close the database connection
connection.close()
print("\nDatabase connection closed.")

Connected to an in-memory SQLite database.
Table 'Students' successfully created.
Data successfully inserted into the 'Students' table.
All student records:

   student_id student_name  student_age  student_grade
0           1        Alice           10            5.0
1           2          Bob           11            4.5
2           3      Charlie           10            4.8
3           4        David           12            5.0

Students older than 10, ordered by their grade:

  student_name  student_grade
0        David            5.0
1          Bob            4.5

Bob's grade updated.
Updated record for Bob:

   student_id student_name  student_age  student_grade
0           2          Bob           11            4.7

Charlie's record removed.
Remaining student records:

   student_id student_name  student_age  student_grade
0           1        Alice           10            5.0
1           2          Bob           11            4.7
2           4        David           12            5.0

Database connection closed.